**/node_modules/**/*
Backend/hospitalManagementDjango/.idea/misc.xml
Backend/hospitalManagementDjango/backend/__pycache__/*
Backend/hospitalManagementDjango/backend/migrations/__pycache__/*
Backend/hospitalManagementDjango/hospitalManagementDjango/__pycache__/*
/Backend/hospitalManagementDjango/env/**/**


*.pyc
*.pyc
