# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\reactApps\backendFlask\hospitalManagementDjango\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
